snippet des
	describe '${1:something}', ->
		${0}
snippet b
	beforeEach ->
		${0}
snippet a
	afterEach ->
		${0}
snippet it
	it '${1:does something}', ->
		${0}
snippet ex
	expect(${1:subject}).to.${0}
snippet nex
	expect(${1:subject}).not.to.${0}
