<?php

namespace ${1:SomeLibrary}\Tests;

/**
 * Tests ${2:SomeClass}
 *
 * @package  $1
 * @category Tests
 */
class $2Test extends ${3:\PHPUnit_Framework_TestCase} {

	protected function setUp()
	{
		parent::setUp();
	}

	protected function tearDown()
	{
		parent::tearDown();
	}

	${0}

} // End $2Test
