<?php defined('SYSPATH') or die('Kohana bootstrap needs to be included before tests run');

/**
 * Tests ${1:Class}
 *
 * @group ${2:application}
 *
 * @package   ${3:Application}
 * @category  Tests
 */
class ${4:TestCase} extends Unittest_TestCase
{
	${5}
} // End $4
